<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="8.29">
<file name="C:\Users\Lockolocko\Desktop\UVSQ - S2\PGLP\TD1\pglp_3.4\src\main\java\com\gillotroux\Copyer.java">
</file>
<file name="C:\Users\Lockolocko\Desktop\UVSQ - S2\PGLP\TD1\pglp_3.4\src\main\java\com\gillotroux\Faxer.java">
</file>
<file name="C:\Users\Lockolocko\Desktop\UVSQ - S2\PGLP\TD1\pglp_3.4\src\main\java\com\gillotroux\Printer.java">
</file>
<file name="C:\Users\Lockolocko\Desktop\UVSQ - S2\PGLP\TD1\pglp_3.4\src\main\java\com\gillotroux\Scanner.java">
</file>
<file name="C:\Users\Lockolocko\Desktop\UVSQ - S2\PGLP\TD1\pglp_3.4\src\main\java\com\gillotroux\SimplePrinter.java">
</file>
</checkstyle>
